<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="QLNhanSuConnectionString" connectionString="Data Source=KiraMoon-PC\SQLExpress;Initial Catalog=BTWeb;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>